In [2]:
a=33
b=222

if b>a:
    print("b is greater than a",b)

b is greater than a 222

In [9]:
a=33
b=33
if b>a:
    print("b is greater than a")
elif a==b: 
    print("a and b are equal")

a and b are equal

In [10]:
a=222
b=44
if b>a:
    print("b is greater than a")
elif a==b:
    print("a and b are equal")
else:
    print('a is greater tha b')

a is greater tha b

In [11]:
if b>a:
    print("b is greater than a")
else:
    print("b is not greater tha a")

b is not greater tha a

In [14]:
if a>b: print("a is greater than a")
print("a",a) if a>b else print("b")

a is greater than a
a 222

In [15]:
flag=True
if flag==True:
    print("welcome")
    print("to")
    print("python programming language")

welcome
to
python programming language

In [17]:
flag=False
if flag==True:
    print("welcome")
    print("to")

In [19]:
i=20
if (i<15):
    print("i is smaller than 15")
else:
    print("i is greater than to 15")
    print("im in else block")

i is greater than to 15
im in else block

In [21]:
i=10
if (i==10):
    if i<15:
        print("i is smaller than 15")
    if i<12:
        print("i is smaller than 15")
    else:
        print("i is greater than 15")

i is smaller than 15
i is smaller than 15

In [3]:
x=int(input("enter the x value"))
y=int(input("enter the y value"))
z=int(input("enter the z value"))
if x>y and x>z:
    print("x is greater than remaining two values",x)
elif y>z:
    print("y is greater than z",y)
else:
    print("z is the highest than x,y",z)

enter the x value 4
enter the y value 3
enter the z value 9

z is the highest than x,y 9

In [11]:
x=int(input("enter the x value"))
y=int(input("enter the y value"))
z=int(input("enter the z value"))

a=(x+y+z)/3
b=int(a)
print(b)
print("the total average 3 subjects",b,"%")

if b>9 and b<=10:
    print("A")
elif b>8 and b<=9:
    print("b")
elif b>7 and b<=8:
    print("c")
else:
    print("study weLl")

enter the x value 10
enter the y value 11
enter the z value 12

11
the total average 3 subjects 11 %
study weLl

In [14]:
print("welcome to daniel airport")
weight=float(input("how many pounds does your suitcase weigh?"))
if weight>50:
    print("there is a $25 charge for luggage and already deducted from your credit card,don't get surprise")
    print("thank you and enjoy the journey boss")

welcome to daniel airport

how many pounds does your suitcase weigh? 32

In [17]:
balance=int(input("enter the valeu"))
if balance<0:
    print("balance is in neagtive mode please add funds now or you will be charged a penalty")

enter the valeu -66

balance is in neagtive mode please add funds now or you will be charged a penalty

In [19]:
n=int(input("enter the value"))
if n%2==0:
    print("even number")
else:
    print("odd numbre")

enter the value 88

even number

In [20]:
x=10
print(isinstance(x,int))
print(isinstance(x,str))

True
False

In [21]:
n="daniel"
print(isinstance(n,str))
print(isinstance(n,int))

True
False

In [23]:
x=11
if isinstance(x,str):
    print("integer data type")
else:
    print("its other type")

its other type

In [25]:
if isinstance(x,str):
    print("string data type")
else:
    print("it is other type")

it is other type

In [26]:
if isinstance(xyz,int):
    print("integer data type")
else:
    print("it is string data type")

NameError: name 'xyz' is not defined

In [29]:
answer=input("is python teaching by daniel,yes or not")
if answer=="YES":
    print("welcome ot python sessions by daniel,please dont sleep")
else:
    print("i guess you are not my student")
print("thanks")

is python teaching by daniel,yes or not YES

welcome ot python sessions by daniel,please dont sleep
thanks

In [31]:
print("welcome to AiNextGen company..")
allowed=["phani","hari""chiru"]
username=input("Enter the value")
if username in allowed:
    print("access granted,enjoy guru")
else:
    print("sorry boss,access deined : contact admin team.namaskaar")

welcome to AiNextGen company..

Enter the value phani

access granted,enjoy guru

In [34]:
number=4
guess=int(input("enter the number"))
if guess==number:
    print("congratulations dude,you guessed it but no prizes")
elif guess<number:
    print("no it is a little higher than guessed number")
else:
    print("no it is a little lower than guessed number")

enter the number 3

no it is a little higher than guessed number

In [38]:
x=int(input("what is the time"))
if x<10:
    print("good morning")
elif x<12:
    print("soon time for lunch")
elif x<18:
    print("good day")
elif x<22:
    print("good evening")
elif x>=22 and x<=24:
    print("good night")
else:
    print("dude,please buy clock and learn timigs,good day")

what is the time 0

good morning

In [40]:
while True:
    n=input("enter the value")
    print(n)
    if n=="4":
        break
print("thank you")

enter the value 3

3

enter the value 65

65

enter the value 7

7

enter the value 8

8

enter the value 9

9

enter the value 54

54

enter the value 4

4
thank you

In [46]:
number =4
running = True
while running:
    guess=int(input("ener the number blw 1 to 10"))
    if guess==number:
        print("congratulations dude,you guessed the right no")
    running=False
    elif guess<number:
        print("no it is alittle higher than that")
    else:
        print("No i is lower")
else:
    print("the while loop is over")

SyntaxError: invalid syntax (2500534588.py, line 8)

In [47]:
for x in range(1,20):
    if (x%2==0):
        print(x)

2
4
6
8
10
12
14
16
18

In [48]:
for x in range(1,20):
    print(x)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [49]:
for x in range(11,22):
    if (x%2==0):
        print(x)

12
14
16
18
20

In [51]:
for x in range(11,22):
    if (x%2==0 or x%4==0):
        print(x)

12
14
16
18
20

In [54]:
data=[1,2.33,1+2J,True,"daniel",[1,2,3]]
for i in data:
    print(i  ,  type(i))

1 <class 'int'>
2.33 <class 'float'>
(1+2j) <class 'complex'>
True <class 'bool'>
daniel <class 'str'>
[1, 2, 3] <class 'list'>

In [5]:
lines=[]
print(lines)
while True:
    i=input("enter the value")
    if i:
        lines.append(i)
    else:
        break
print(lines)

[]

enter the value 4
enter the value 3
enter the value 5
enter the value 4
enter the value 3
enter the value 3
enter the value

['4', '3', '5', '4', '3', '3']

In [8]:
s=input("enter the string,mixed with numbers")
i=0
for c in s:
    if c.isalpha():
        i=i+1


print(i)

enter the string,mixed with numbers pahni

5

In [17]:
s=input("enter the string")
i=0

for c in s:
    if c.isdigit():
        i=i+1
        print(i,c)

enter the string 4574533

1 4
2 5
3 7
4 4
5 5
6 3
7 3

In [18]:

i=input("enter any alpahbet")
q=("a","e","i","o","u")
if i in q:
    print(i,"is a vowel")
else:
    print(i,"is a constant")

enter any alpahbet d

d is a constant

In [21]:
i=input("enter any alphabet letter")
q=("a","e","i","o","u")
if len(i)==1:
    if i in q:
        print(i,"is a vowel")
    else:
        print(i,"is a consonat")

enter any alphabet letter f

f is a consonat

In [25]:
print("list of months: january,february,march,april,may,june,july,august,september,october,november,december")
month=input("enter the month")
if month=="February":
    print("no of days is 28/29days")
elif month in ["april","june","september","november"]:
    print("no of days : 30 days")
elif month in ["january","march","may","july","august","october","december"]:
    print("no of days 31 days")
else:
    print("any month name like",month,"?")

list of months: january,february,march,april,may,june,july,august,september,october,november,december

enter the month phani

any month name like phani ?

In [27]:
n=int(input("Enter hte value"))
for i in range(1,13):
    print(n,"X",i,"=",n*i)

Enter hte value 6

6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60
6 X 11 = 66
6 X 12 = 72

In [2]:
x=["daniel","abhishek"]
for i in x:
    print(i)

daniel
abhishek

In [4]:
x=["phani","abhishek"]
for i in x:
    print(i.upper())

PHANI
ABHISHEK

In [6]:
x=["PHANI","ABHISHEK"]
for i in x:
    print(i.lower())

phani
abhishek

In [8]:
x=["1","2","3"]
for i in x:
    print(i.upper())

1
2
3

In [9]:
i=1
while i<=20:
    if i%2==0:
        break
    print(i)
    i=i+2

1
3
5
7
9
11
13
15
17
19

In [10]:
i=1
while i<=20:
    if i%3==0:
        break
    print(i)
    i=i+2

1

In [11]:
i=1
while False:
    if i%3==0:
        break
    print(i)
    i=i+2

In [12]:
i=0
while i<5:
    print(i)
    i=i+1
    if i==3:
        break
    else:
        print(0)

0
0
1
0
2

In [13]:
i=0
while i<3:
    print(i)
    i=i+1
else:
    print(0)

0
1
2
0

In [16]:
x="PYTHON"
for i in x:
    print(i,end=" ")

P Y T H O N

In [18]:
x="python"
for i in x:
    print(i,end=" ")

p y t h o n

In [20]:
x="PYTHON"
for i in x:
    print(i+"Z",end=" ")

PZ YZ TZ HZ OZ NZ

In [21]:
x="python"
if i in x:
    print(i)

In [23]:
x="python"
while i in x:
    print(i)

In [24]:
x="python"
i="a"
while i in x:
    print(i)

In [31]:
x="abcd"
for i in range(11):
    print(i)#end=""

0
1
2
3
4
5
6
7
8
9
10

In [32]:
x="abcd"
for i in range(len(x)):
    print(i)

0
1
2
3

In [37]:
x="abcd"
for i in range(len(x)):
    print(x[i],end=" ")

a b c d

In [38]:
x="abcd"
for i in range(len(x)):
    print(i[x])

TypeError: 'int' object is not subscriptable

In [40]:
x="123"
for i in x:
    print(i)

1
2
3

In [41]:
for i in range(0):
        print(i)

In [42]:
for i in range(2):
    print(i)

0
1

In [43]:
for i in range(2.0):
    print(i)

TypeError: 'float' object cannot be interpreted as an integer

In [45]:
for i in range(int(2.0)):
    print(i)

0
1

In [46]:
x=123
for i in str(x):
    print(i)

1
2
3

In [47]:
for i in " ":
    print(i)

In [51]:
x=2
for i in range(x):
    x=x+1
    print(x)

3
4

In [50]:
x=2
for i in range(x):
    x-=2
    print(x)

0
-2

In [54]:
for i in range(10):
    if i==10:
        break
    else:
        print(i)
else:
    print("no value")

0
1
2
3
4
5
6
7
8
9
no value

In [53]:
for i in range(5):
    if i==5:
        break
    else:
        print(i)
else:
    print("no value")

0
1
2
3
4
no value

In [56]:
text="my name is phani"
for i in text:
    print(i,end="")

my name is phani

In [59]:
lines=[]
print(lines)
while True:
    x=input("enter the value")
    if x:
        
        lines.append(x)
        print(x)
    else:
        break
print(lines)

[]

enter the value e

e

enter the value w

w

enter the value w

w

enter the value s

s

enter the value d

d

enter the value f

f

enter the value 5

5

enter the value 4

4

enter the value 32

32

enter the value

['e', 'w', 'w', 's', 'd', 'f', '5', '4', '32']